   @charset "UTF-8";
   
   
   body {
            background-color: rgb(224, 247, 126);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(0, 0, 0);
            background-color: rgb(255, 116, 116);
        }
        h2 {color: rgb(60, 6, 111);
        }
        p {
            text-align: justify;
        }