@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #C1D9BA, #C1D9BA);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #31402fac ;
}
h1{
    color: #3a613d;
    text-align: center;
    text-shadow: 1px 1px 2px #2b482db7;
}
h2{
    color: #68876a;
}

p{
    text-align: justify;
}
